.header{
    display: flex;
    padding: 40px 32px;
}

.menu{
    display: flex;
    align-items: center;
    list-style-type: none;
    flex-grow: 1;
}

.menu li {
    padding: 20px;
    transition: all 0.5s;
}

.menu li:hover {
    background-color: #eee;
    cursor: pointer;
}

.btn-create, .btn-login{
    transition: all 0.6s;
}

.btn-create:hover{
    background-color: #eee;
    cursor: pointer;
}

.btn-login{
    background-color: red;
    color: white;
}

.btn-login:hover{
    background-color: #ea1d2c;
    cursor: pointer;
}